/* Footer Form */

.footer-form {
    display: inline-block;

    @media screen and (max-width: 1199px) {
        margin-top: 60px;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.footer-form__field {
    display: flex;
    margin-top: 20px;
}

.footer-form__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: $primary-white-color;
}

.footer__submit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    height: 50px;
    margin-top: 20px;
    padding: 0;
    padding-right: 10px;

    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    border: none;
    border-radius: 4px;

    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-left: 12px;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-image: url(../images/icon-send.svg);
    }
}

.inner-footer-input {
    max-width: 450px;
    padding: 0;
    padding-inline: 42px;
    margin: 0;
    height: 50px;
    font: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: $accent-bg-color;
    color: $primary-white-color;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms $timing-function;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }

    &:hover,
    &:focus {
        border-color: $accent-color;
        outline: none;
    }
}
