.logo {
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: $accent-color;

    @media screen and (min-width: 480px) {
    font-size: 24px; 
    line-height: 1.17;  
    }

    @media screen and (min-width: 1600px) {
    font-size: 26px;
    line-height: 1.19;
    }
}

.logo__main-color {
    color: $title-text-color;
}

.logo__secondary-color {
    color: $primary-white-color;
}