.site-nav {
  @media screen and (min-width: 768px) {
    margin-left: 93px;
  
  }
}

.site-nav__list {
  @media screen and (max-width: 768px) {
    margin: -16px;
  }
  @media screen and (min-width: 768px) {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  // text-decoration: none;
  
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms $timing-function;
  
  color: $title-text-color;

  @media screen and (max-width: 768px) {

  display: inline-block;
  font-size: 40px;
  line-height: 47px;
  margin: 16px;
  text-align: center;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    
    display: block;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;

    &--current::after {
    position: absolute;
    left: 0;

    width: 100%;
    height: 4px;
    content: "";
    bottom: -1px;
    background-color: $accent-color;
    border-radius: 2px;
    }
  }

&:hover,
&:focus,
&--current {
    color: $accent-color;
}

}





